body {
    font-family: 'Open Sans', 'Inter', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    width: fit-content; /* 너비를 내용에 맞게 조절 */
    height: fit-content; /* 높이를 내용에 맞게 조절 */
}
